<nav>
  <div class="nav-wrapper">
  
    <figure id="logo" class="columns six" data-hook>
    <%= logo img_options: { class: "img-responsive brand-logo", width: '138px' } %>
    </figure>
    
    
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      
      <% @taxonomies.each do |taxonomy| %>
        <li class="dropdown-button">
          <%= link_to taxonomy.name, '#', class: "dropdown-button", data: { activates: "dropdown #{taxonomy.name}"} %>
        </li>
      <% end %>
    
    <li>
      
      <a class="dropdown-button" href="#!" data-activates="dropdown1">
        Dropdown<i class="material-icons right">arrow_drop_down</i>
      </a>
      
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
    
    
    
    </li>
    
    </ul>
  </div>
</nav>